<!-- Default home page -->
<link type="text/css" href='/styles/semantic.css' rel='stylesheet'/>
<link type="text/css" href='/styles/main.css' rel='stylesheet'/>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b0bb63dbdfbafb08b9222c9b6c701532";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script data-main="/js/main-built.min" src="/js/dependencies/require.js"></script>
<body>
	<div class="ui inverted menu top-bar">
	  	<a class="item">
	    		Dexter Yan
	  	</a>
	  	<a class="item" href="http://dexteryan.duapp.com/" target="_blank">
	    		<i class="lightbulb icon"></i> Blog
	  	</a>
	  	<a class="item" href="https://github.com/DexterYan/sails" target="_blank">
	    		<i class="github icon"></i> Github
	  	</a>
	  	
	  	<a class="right  floated item">
	    		<i class="globe icon"></i> Newsboard
	  	</a>
	</div>

	<div class="ui top attached segment scroll-bar bg-white" id="one_tab">
	 	<div class="ui grid">
	 		<div class="top row ">
				 <div class="center aligned column">
				 	<h1>A Full Stack Developer</h1>
				 </div>
			</div>
			<div class="middle row">
				<div class="three wide column"></div>
				<div class="nine wide column">
					<p class="middle-p">Built Exicon's  production web application by using MongoDB, Express, SailsJS, and Node.js.
				 	<br> Rich exiperience programming on front and back-end with Backbone, jQuery, RequireJS...
				 	<br>Deployed and maintaining the web server in Amazon Web Services.
				 	</p>
				</div>
				<div class="six wide column"></div>
			</div>
			<div class="bottom row">
				<div class="center aligned column ">
					<img src="images/main/full-stack.png"  class="column-image">
				</div>
			</div>
		</div>
	</div>
	<div class="ui attached segment scroll-bar bg-black" id="two_tab">
	 	<div class="ui grid">
	 		<div class="top row ">
	 			<div class="one wide column"></div>
				<div class="eight wide right aligned column">
				 	<img src="images/main/multi-platform.png"  class="column-image">
				</div>
				 <div class="six wide  left aligned column">
				 	<h1 class="ui inverted header">A Cross-platform Designer</h1>
				 	<p class="inverted middle-p">Provide the whole solution from hardware design to mobile application with a integrated web for enterprise or startup company
				 	<br><br> Multiple Language expert including JAVA, Object C, Javascript, R, Ruby, C, Clojure
				 	<br><br>A Exetremely Fast learner and open mind for learning every new technology
				 	</p>
				 </div>
				 <div class="one wide column"></div>
			</div>
		</div>
	</div>
	<div class="ui bottom attached segment scroll-bar bg-white" id="three_tab">
	 	<div class="ui grid">
	 		<div class="top row ">
				 <div class="center aligned column">
				 	<h1>A Data Science Researcher</h1>
				 </div>
			</div>
			<div class="middle row">
				<div class="three wide column"></div>
				<div class="nine wide column">
					<p class="middle-p">Built the R Statistic Data mining backend for Exicon's nodejs website. 
				 	<br> Built the intelligent  newsfeed for Exicon web based on neural  algorithm
				 	<br>Published an article of using genetic algorithm for apparel mass customization in Computer Integrated Manufacturing Systems mangazine<a href="http://kxrc.cnki.net/kcms/detail/detail.aspx?filename=JSJJ201203010&dbcode=CJFQ&dbname=CJFD2012" target="_blank"><i class="info icon"></i></a>
				 	</p>
				</div>
				<div class="six wide column"></div>
			</div>
			<div class="bottom row">
				<div class="center aligned column ">
					<img src="images/main/data-science.png"  class="column-image">
				</div>
			</div>
		</div>
	</div>
	
	<div class="ui attached segment scroll-bar bg-black" id="four_tab">
	 	<div class="ui grid">
	 		<div class="top row ">
	 			<div class="one wide column"></div>
				<div class="eight wide right aligned column">
				 	<img src="images/main/from-china.png"  class="column-image">
				</div>
				 <div class="six wide  left aligned column">
				 	<h1 class="ui inverted header">A China Expert </h1>
				 	<p class="inverted middle-p">Born and grown in mainland China, received eduaction in both China and Hong Kong
				 	<br><br> A deep human resource network in mainland China, strong connections with many chinese investors and developers 
				 	<br><br>Native speaker in mandarin, a master of speaking english and cantonese 
				 	</p>
				 </div>
				 <div class="one wide column"></div>
			</div>
		</div>
	</div>

</body>
