<!-- Default home page -->
<link type="text/css" href='/styles/semantic.css' rel='stylesheet'/>
<!-- <script data-main="/js/main-built.min" src="/js/dependencies/require.js"></script> -->
<!-- <script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/underscore.js"></script>
<script src="/js/dependencies/backbone.js"></script>

<script src="/js/index_package/index_view.js"></script> -->
<body>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/underscore.js"></script>
<script src="/js/dependencies/backbone.js"></script>

<script src="/js/index_package/index_view.js"></script>
</body>
<h2 class="ui header">
  Account Settings
</h2>